<!DOCTYPE html>
<html ng-app="chuck">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/node_modules/chuck-rtc/chuck.js"></script>

        <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/custom.css" rel="stylesheet">

        <script>
            angular.module('chuck')
                .controller('authController', ['$scope', 'ChuckAuthenticator', function ($scope, ChuckAuthenticator) {
                    $scope.logged = null;

                    var endpoint = '<%- endpoint %>';

                    function CheckLogin() {
                        ChuckAuthenticator.keepAlive(endpoint)
                            .then(function () {
                                $scope.logged = true;
                            }, function () {
                                $scope.logged = false;
                            });
                    }

                    $scope.login = function () {
                        ChuckAuthenticator.login(endpoint, $scope.username, $scope.password)
                            .finally(function () {
                                CheckLogin();
                            });
                    }

                    $scope.logout = function () {
                        ChuckAuthenticator.logout(endpoint)
                            .finally(function () {
                                CheckLogin();
                            })
                    }

                    CheckLogin();

                }]);
        </script>

    </head>
    <body ng-controller="authController">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <header class="jumbotron text-center">
      <div class="container">
        <img src="/images/norris-hor.png" class="logo-norris" title="Norris" alt="Norris Logo" />
          <h3>Real time charts</h3>
      </div>
    </header>
    <div class="container content">

<div ng-show="logged == false">
<h3>Please log in to view the charts</h3>
<div class="form-group">
    <label for="UsernameInput">Username</label>
    <input type="text" ng-model="username" class="form-control" id="UsernameInput" name="username" placeholder="Enter username">
  </div>
<div class="form-group">
    <label for="PasswordInput">Password</label>
    <input type="email" ng-model="password" class="form-control" id="PasswordInput" name="password" placeholder="Enter password">
  </div>
            <input type="button" ng-Click="login()" class="btn btn-default" value="Login"/>
</div>

<div ng-show="logged == true">
<h2>Pages</h2>
<div class="list-group">
<% var wt = 0;
   for(var i=0; i<pages.length; i++) { %>
    <a href="/pages/<%=pages[i].getId() %>" class="list-group-item">
        <h4 class="list-group-item-heading"><%
        if(pages[i].getSettings().title!="") {
        %><%= pages[i].getSettings().title %><%
        } else {
            %>Untitled page <%=++wt %><%
    }
    %></h4>
        <p class="list-group-item-text"><%=pages[i].getSettings().description %></p>
      </a>
<% } %>
</div>

<h2>Charts</h2>

<div class="list-group">
<% var wt = 0;
   for(var i=0; i<charts.length; i++) {%>
     <a href="/charts/<%=charts[i].getId() %>" class="list-group-item">
        <h4 class="list-group-item-heading"><%
        if(charts[i].getSettings().title!="") {
        %><%= charts[i].getSettings().title %><%
        } else {
            %>Untitled chart <%=++wt %><%
    }
    %></h4>
        <p class="list-group-item-text"><%=charts[i].getSettings().description %><br/>
    <span class="chart-type">Chart type: <%=charts[i].getType() %></span></p>
      </a>
<% } %>
</div>

</div>

 </div>
    <footer class="text-center">
    <div ng-show="logged == true" class="text-right container">
            <input type="button" class="btn btn-default" ng-click="logout()" value="Logout"/>
</div>
          <img src="/images/kt-trademark.png" alt="Kaizen Team Trademark" title="Kaizen Team" height="100px" />
    </footer>
    </body>
</html>
