<%
var charts = page.getCharts();
var settings = page.getSettings();
var maxChartsRow = settings.maxChartsRow;
var maxChartsCol = settings.maxChartsCol;
var path = endpoint;

function printTag(chart) {
    return '<chuck-' + chart.getType() + ' chart-endpoint="' + path + '" chart-id="' + chart.getId() + '"></chuck-' + chart.getType() + '>';
}
%>

<!DOCTYPE html>
<html ng-app="chuck">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower_components/chuck-rtc/chuck.js"></script>

        <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/custom.css" rel="stylesheet">
    </head>
    <body>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <header class="jumbotron text-center">
      <div class="container">
        <img src="/images/norris-hor.png" height="100px" title="Norris" alt="Norris Logo" />
          <h1><%= settings.title %></h1>
      </div>
    </header>
    <div class="container content">
        <%
        var nTot = charts.length < maxChartsRow * maxChartsRow ? charts.length : maxChartsRow * maxChartsRow;
        var nRows = Math.floor(nTot / maxChartsCol);
        var lastRow = nTot % maxChartsCol;
        var currentRow = 0;

        for (var i = 0; i < charts.length && i < nTot; i++) {
            if( i % maxChartsCol == 0) {
                currentRow++;
                %><div class="row"><%
            }
            if(currentRow <= nRows) {
                %><div class="col-md-<%=12 / maxChartsCol %>"><%
            } else {
                %><div class="col-md-<%=12 / lastRow %>"><%
            }
 %>
                <h3><% if(charts[i].getSettings().title==""){ %>&nbsp;<% } else { %><%= charts[i].getSettings().title %><% } %></h3>
                <%- printTag(charts[i]) %>
            </div>
            <% if(i % maxChartsCol == maxChartsCol - 1) { %></div><% }
        };
        if(maxChartsCol * maxChartsRow != nTot) { %></div><% } %>
    </div>
    <footer class="text-center">
          <img src="/images/kt-trademark.png" alt="Kaizen Team Trademark" title="Kaizen Team" height="100px" />
    </footer>
    </body>
</html>
